.mission, .vision, .values {
    max-width: 800px;
    margin: 2rem auto;
    text-align: center;
    padding: 1rem;
  }
  
  .banner-image {
    width: 100%;              
    height: 400px; 
    object-fit: cover;    
    opacity: 1 !important; 
    filter: none !important;       
    background-color: transparent;            
    display: block;   
  }
  
  h2 {
    color: #010101;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .justified-text {
    color: #96151C;
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: justify;
    font-style: italic; /* Italics for art references */

  }
  