.mission, .vision, .values {
    max-width: 800px;
    margin: 0rem auto;
    text-align: center;
    
  }
  
  .banner-image {
    width: 100%;              
    height: 400px; 
    object-fit: cover;    
    opacity: 1 !important; 
    filter: none !important;       
    background-color: transparent;            
    display: block;   
  }
  
  .mission h2 {
    margin-top: 4rem;
    color: #010101;
    margin-bottom: 1rem;
    font-family: 'Ibarra Real Nova', serif; /* Use Ibarra Real Nova for titles */
    font-weight: bold;
  }

  .vision h2{
    font-family: 'Ibarra Real Nova', serif; /* Use Ibarra Real Nova for titles */
    font-weight: bold;
  }

  .values h2{
    font-family: 'Ibarra Real Nova', serif; /* Use Ibarra Real Nova for titles */
    font-weight: bold;
  }
  
  .justified-text {
    color: #96151C;
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: justify;
    font-family: 'Neue Montreal', sans-serif; /* Use Neue Montreal for information */
    font-style: italic;

  }
  
  .video-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 50px;
  }
  
  .video-wrapper {
    margin: 10px;
    border: 2px solid #ccc; /* Optional: Add a border */
    border-radius: 8px; /* Optional: Add rounded corners */
    overflow: hidden; /* Optional: Ensure the iframe fits within the wrapper */
    width: 400px;
    height: 320px;
  }
  
  .video-iframe {
    width: 100%; /* Make iframe responsive */
    height: 315px; /* Maintain height */
  }
  