.header {
  padding: 1rem 0 0 0;
  color: #f5f5f5;
  background-color: transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.full-width-divider {
  width: 100%;
  height: 1px;
  background-color: #010101;
  margin: 0 auto;
}
.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.logo {
  width: 150px;
  height: auto;
}

.site-title {
  flex: 1;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #96151C;
  font-family: 'Georgia', serif;
}

.site-description {
  flex-basis: 100%;
  text-align: center;
  font-size: 1.8rem;
  font-style: italic;
  font-weight: 500;
  margin-top: 5rem;
  margin-bottom: 5rem;
  color: #000;
  font-family: 'Georgia', serif;
}
.navbar-container {
  border: 1px solid #96151C;        
  padding: 0.8rem 2rem;          
  margin: 0rem auto;            
  width: fit-content;            
background-color: transparent;
}

.navbar {
  display: flex;
  flex-wrap: wrap;              
  justify-content: center;
  gap: 1.5rem;
}

.navbar a {
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
  color: black;
}
.navbar a:hover {
  color: #96151C;
  border-bottom: 2px solid #96151C;
}

.enhanced-footer {
  background-color: #fff;
  padding: 5px 20px; 
  border-top: 3px solid #000; 
  font-family: Arial, sans-serif; 
}

.footer-container {
  display: flex;
  justify-content: space-between; 
  max-width: 1200px; 
  margin: 0 auto; 
}

.footer-left {
  max-width: 50%; 
}

.footer-heading {
  color: #a6192e;
  font-size: 24px; 
  font-weight: bold;
  margin-bottom: 15px; 
}

.footer-text {
  color: #333; 
  font-size: 14px; 
  line-height: 1.5; 
  margin-bottom: 5px; 
}

.york-logo {
  max-width: 200px;
  height: auto;
  background-color: #000;
}


.footer {
  font-size: 0.8rem; 
  padding: 0.75rem; 
}


.footer-heading {
  font-family: "Ibarra Real Nova", serif;
  font-size: 2rem; 
}


.footer-text,
.footer-email,
.footer-address,
.footer-email a {
  font-family: "Neue Montreal", sans-serif;
}

.footer-right {
  max-width: 40%; 
  text-align: left; 
  margin-top: 3rem;
}

.footer-email,
.footer-address {
  color: #333; 
  font-size: 0.95rem; 
  line-height: 1.5; 
  margin-bottom: 8px; 
}

.footer-address {
  display: block;
  line-height: 1.5;
  white-space: normal;
}

.footer-email {
  display: block;
  line-height: 1.5;
  white-space: normal;
  
  margin-top: 1.5rem; 
}

.footer-email strong,
.footer-address strong {
  font-weight: bold;
  
}

.footer-email a {
 
  text-decoration: none;
  color: #a6192e;
}

.footer-email a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .footer-container {
      flex-direction: column;
      align-items: center;
      text-align: center;
  }

  .footer-left,
  .footer-right {
      max-width: 100%;
      margin-bottom: 15px; 
  }

  .footer-right {
      text-align: center;
  }
}