.header {
  background-color: #fff;
  padding: 1rem 0 0 0;
  color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.full-width-divider {
  width: 100%;
  height: 1px;
  background-color: #010101; /* or red or any other accent color */
  margin: 0 auto;
}
.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.logo {
  width: 150px;
  height: auto;
}

.site-title {
  flex: 1;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #96151C;
  font-family: 'Georgia', serif;
}

.site-description {
  flex-basis: 100%;
  text-align: center;
  font-size: 1.8rem;
  font-style: italic;
  font-weight: 500;
  margin-top: 5rem;
  margin-bottom: 5rem;
  color: #000;
  font-family: 'Georgia', serif;
}
.navbar-container {
  border: 1px solid #96151C;         /* Red border around the whole nav */
  padding: 0.8rem 2rem;          /* Padding inside the box (left/right) */
  margin: 0rem auto;             /* Space above/below and center horizontally */
  width: fit-content;            /* Shrinks to wrap only the nav links */
  background-color: transparent; /* Clear background */
}

.navbar {
  display: flex;
  flex-wrap: wrap;              /* Wrap if too many links */
  justify-content: center;
  gap: 1.5rem;
}

.navbar a {
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
  color: black;
}
.navbar a:hover {
  color: #96151C;
  border-bottom: 2px solid #96151C;
}

.footer {
  background-color: #fff;
  color: #ccc;
  text-align: center;
  padding: 1.5rem 1rem;
  font-size: 0.95rem;
  font-family: 'Georgia', serif;
  border-top: 1px solid #010101;
}
