.carousel-container {
  text-align: center;
  color: #f5f5f5;
  padding: 2rem;
}

.carousel-card {
  border-radius: 10px;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  max-width: 800px;
  margin: auto;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
}

.arrow-button {
  background-color: transparent;
  color: #C8B100;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.arrow-button:hover {
  color: #fff;
}

.member-info {
  flex: 1;
  text-align: left;
}

.member-info h3 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.member-info p {
  font-size: 1.1rem;
}

.member-image {
  width: 200px;
  height: auto;
  object-fit: cover;
  border-radius: 8px; /* Rectangular with slight rounding */
}

.dot-indicators {
  margin-top: 1.5rem;
  text-align: center;
}

.dot {
  height: 12px;
  width: 12px;
  margin: 0 6px;
  background-color: #ccc;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot.active {
}
.mission{
  margin-top: 10rem; /* You can increase this value for more space */
}

.justified-text {
  text-align: justify;
  max-width: 1000px;
  font-size: 1.1rem;
  line-height: 1.8;
  color: #f5f5f5;
  margin: 0 auto; /* centers the block horizontally */
  margin-bottom: 5rem; 
}

